templates/datafactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory Name",
            "defaultValue": "F5DataPOCqx5xrtfm47hc6"
        },
        "AzureSqlDatabase1_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
        "leftBracket": "["
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/OData1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "OData",
                "typeProperties": {
                    "url": "http://services.odata.org/V3/OData/OData.svc",
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "type": "AzureSqlDatabase",
                "typeProperties": {
                    "connectionString": {
                        "type": "SecureString",
                        "value": "[parameters('AzureSqlDatabase1_connectionString')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/P_Copy_Persons')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "activities": [
                    {
                        "name": "Copy",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "RelationalSource"
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "TRUNCATE TABLE STAGE.ODATA_Persons"
                            },
                            "enableStaging": false,
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ID: ID, Name: NAME"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "OData_Persons",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "AzureSqlStgPersons",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Stored Procedure1",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Copy",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "[concat(variables('leftBracket'), 'PRODUCTION].[usp_UpdatePERSONS]')]"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDatabase1",
                            "type": "LinkedServiceReference"
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/OData_Persons')]",
                "[concat(variables('factoryId'), '/datasets/AzureSqlStgPersons')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/P_Copy_Categories')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "RelationalSource"
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "TRUNCATE TABLE STAGE.ODATA_Categories"
                            },
                            "enableStaging": false,
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ID: ID, Name: NAME"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "OData_Categories",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "AzureSqlStgCategories",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Stored Procedure1",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Copy_",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "[concat(variables('leftBracket'), 'PRODUCTION].[usp_UpdateCATEGORIES]')]"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDatabase1",
                            "type": "LinkedServiceReference"
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/OData_Categories')]",
                "[concat(variables('factoryId'), '/datasets/AzureSqlStgCategories')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/P_Copy_ProductDetails')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "activities": [
                    {
                        "name": "Copy",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "RelationalSource"
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "TRUNCATE TABLE STAGE.ODATA_ProductDetails"
                            },
                            "enableStaging": false,
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ProductID: PRODUCTID, Details: DETAILS"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "OData_ProductDetails",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "AzureSqlStgProductDetails",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Stored Procedure1",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Copy",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "[concat(variables('leftBracket'), 'PRODUCTION].[usp_UpdatePRODUCTDETAILS]')]"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDatabase1",
                            "type": "LinkedServiceReference"
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/OData_ProductDetails')]",
                "[concat(variables('factoryId'), '/datasets/AzureSqlStgProductDetails')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/OData_Advertisements')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "OData1",
                    "type": "LinkedServiceReference"
                },
                "type": "ODataResource",
                "structure": [
                    {
                        "name": "ID",
                        "type": "Guid"
                    },
                    {
                        "name": "Name",
                        "type": "String"
                    },
                    {
                        "name": "AirDate",
                        "type": "DateTime"
                    }
                ],
                "typeProperties": {
                    "path": "Advertisements"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/OData1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/OData_ProductDetails')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "OData1",
                    "type": "LinkedServiceReference"
                },
                "type": "ODataResource",
                "structure": [
                    {
                        "name": "ProductID",
                        "type": "Int32"
                    },
                    {
                        "name": "Details",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "path": "ProductDetails"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/OData1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/OData_Categories')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "OData1",
                    "type": "LinkedServiceReference"
                },
                "type": "ODataResource",
                "structure": [
                    {
                        "name": "ID",
                        "type": "Int32"
                    },
                    {
                        "name": "Name",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "path": "Categories"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/OData1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/OData_Persons')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "OData1",
                    "type": "LinkedServiceReference"
                },
                "type": "ODataResource",
                "structure": [
                    {
                        "name": "ID",
                        "type": "Int32"
                    },
                    {
                        "name": "Name",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "path": "Persons"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/OData1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlStgAdvertisements')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "ID",
                        "type": "String"
                    },
                    {
                        "name": "NAME",
                        "type": "String"
                    },
                    {
                        "name": "AirDate",
                        "type": "DateTime"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'STAGE].[OData_Advertisements]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlStgCategories')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "ID",
                        "type": "Int32"
                    },
                    {
                        "name": "NAME",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'STAGE].[OData_Categories]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlStgProductDetails')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "PRODUCTID",
                        "type": "String"
                    },
                    {
                        "name": "DETAILS",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'STAGE].[OData_ProductDetails]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureSqlStgPersons')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                },
                "type": "AzureSqlTable",
                "structure": [
                    {
                        "name": "ID",
                        "type": "Int32"
                    },
                    {
                        "name": "NAME",
                        "type": "String"
                    }
                ],
                "typeProperties": {
                    "tableName": "[concat(variables('leftBracket'), 'STAGE].[OData_Persons]')]"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/P_Copy_Advertisements')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2017-09-01-preview",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_Advertisements",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "source": {
                                "type": "RelationalSource"
                            },
                            "sink": {
                                "type": "SqlSink",
                                "writeBatchSize": 10000,
                                "preCopyScript": "TRUNCATE TABLE STAGE.ODATA_Advertisements"
                            },
                            "enableStaging": false,
                            "cloudDataMovementUnits": 0,
                            "translator": {
                                "type": "TabularTranslator",
                                "columnMappings": "ID: ID, Name: NAME, AirDate: AirDate"
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "OData_Advertisements",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "AzureSqlStgAdvertisements",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Stored Procedure1",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Copy_Advertisements",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false
                        },
                        "typeProperties": {
                            "storedProcedureName": "[concat(variables('leftBracket'), 'PRODUCTION].[usp_UpdateADVERTISEMENTS]')]"
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureSqlDatabase1",
                            "type": "LinkedServiceReference"
                        }
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/OData_Advertisements')]",
                "[concat(variables('factoryId'), '/datasets/AzureSqlStgAdvertisements')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
            ]
        }
    ]
}